#contact-form.hidden {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-30%);
    transition: all 1s;
    transition-delay: 200ms;
}

#contact-form.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#contact-description.hidden {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(30%);
    transition: all 1s;
    transition-delay: 200ms;
}

#contact-description.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden {
    opacity: 0;
    filter: blur(2px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
} 