#contact-form.hidden {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-30%);
    transition: all 1s;
    transition-delay: 200ms;
}

#contact-form.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#contact-description.hidden {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(30%);
    transition: all 1s;
    transition-delay: 200ms;
}

#contact-description.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden {
    opacity: 0;
    filter: blur(2px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@keyframes fadeOutTransition {
    0% {
        filter: blur(0);
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(0);
    }

    60% {
        filter: blur(0);
    }
    
    100% {
        filter: blur(25px);
    }
}

@keyframes fadeInTransition {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes fadeInTransition2 {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }
    
    60% {
        opacity: 1;
    }
}