* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #151A22;
    overflow-x: hidden;
    position: relative;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    margin-block: .2em;
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-clip: padding-box;
    box-shadow: none;
    border: 3px solid #12161d;
    background: rgb(95,99,104);
}

body::-webkit-scrollbar-track {
    background-color: #12161d;
}

#landing-page {
    width: 100%;
    height: 100vh;
    position: relative;
}

.header-background-text-1, .header-background-text-2 {
    position: absolute;
    font-size: 50vh;
    color: transparent;
    line-height: 100%;
    text-overflow: clip;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.header-background-text-1 {
    top: 10%;
    left: 10%;
    color:rgba(249, 86, 86, 0.3);
    animation: fadeOutTransition 5s;
    filter: blur(25px);
}

.header-background-text-2 {
    top: 50%;
    left: 10%;
    color: rgba(74, 245, 215, 0.3);
    animation: fadeOutTransition 5s;
    filter: blur(25px);
}

#main-nav {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fadeInTransition2 5s;
    padding: 2% 6%;
}

#nav-logo {
    font-family: 'Numans', sans-serif;
    display: flex;
    color: white;
}

#logo-A, #logo-J {
    padding: 25% 0;
    font-size: 8vh;
}

#logo-A a {
    text-decoration: none;
    color: #F95656; 
    text-decoration: underline;
}

#logo-J a {
    text-decoration: none;
    color: #4AF5D7;
}

#hamburger-menu, #exit-button {
    display: none;
}

#nav-bar ul {
    display: flex;
}

#nav-bar ul li a {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 2vw;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

#nav-bar ul li a:hover {
    text-shadow: 0 0 5px #fff;
}

#landing-container {
    width: 70%;
    max-width: 1200px;
    height: 70vh;
    background-color: grey;
    margin: 0 auto;
    background:
    linear-gradient(to right, grey 1px, transparent 1px) 0 0,
    linear-gradient(to left, grey 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, grey 1px, transparent 1px) 0 0,
    linear-gradient(to top, grey 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    animation: fadeInTransition 5s;
}

#socials-curve {
    width: 50px;
    height: 150px;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: -25px;
    gap: 25px;
    right: 0;
    bottom: 50px;
    border-radius: 0 0 0 100px;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    animation: fadeInTransition2 5s;
}

#socials-items {
    width: 100px;
    height: 250px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    right: 0;
    bottom: 200px;
    animation: fadeInTransition2 5s;
    z-index: 10;
}


#socials-items img {
    width: 30px;
    opacity: 0.5;
}

.socials-item::before {
    display: none;
    position: absolute;
    transition: all 0.5s;
    transform: translateX(-50%);
    opacity: 0;
    color: rgba(255, 255, 255, 0.61);
}

.jump-to-top-icon::before {
    content: 'Jump to Top';
    left: -70px;
    top: 18px;
    width: 90px;
    height: 25px;
    
}

.github-icon::before {
    content: 'GitHub';
    left: -35px;
    top: 80px;
    width: 80px;
    height: 25px;
}

.linkedin-icon::before {
    content: 'LinkedIn';
    left: -40px;
    top: 140px;
    width: 80px;
    height: 25px;
}

.resume-icon::before {
    content: 'My Resume';
    left: -60px;
    top: 200px;
    width: 90px;
    height: 25px;
}

.socials-item:hover::before {
    display: block;
    transform: translateX(0);
    opacity: 1;
}

#socials-items a img:hover {
    transition: 0.5s;
    opacity: 1;
}

#socials-curve img:nth-child(2) {
    top: 50px;
}

#socials-curve img:nth-child(3) {
    top: 100px;
}


#landing-content {
    width: 75%;
    height: 80%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
}

#landing-introduction {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#landing-introduction p {
    font-size: 5vw;
    letter-spacing: 0.3em;
    padding: 20px 5px;
    color: white;
    font-weight: 700;
}

#landing-links-nav {
    border-top: 0.1px solid rgba(255, 255, 255, 0.4);
    flex-basis: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 8;
    gap: 10px;
}

#subtitle-text {
    flex-basis: 50%;
}

#resume-button {
    width: 200px;
    height: 50px;
    background-color: #F95656;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-weight: 700;
}

#resume-button img {
    width: 20px;
}

#resume-button:hover {
    background-color: #d84a4a;
}

#subtitle-text {
    font-size: 2vw;
    color: white;
    text-align: center;
}

#about-me {
    width: 100%;
    height: 100vh;
    position: relative;
}

#about-me-container {
    width: 65%;
    height: 100vh;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-title {
    font-size: 5vw;
    text-align: center;
    padding-top: 5%;
}

#tab-titles {
    display: flex;
    justify-content: center;
}

.tab-links {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding: 0 10%;
}

.tab-links:hover {
    text-shadow: 0 0 5px #fff;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #F95656;
    position: absolute;
    left: 12px;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 80%;
}

#about-me-content, #education-content, #skills-content {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#about-me-headshot, #about-me-description {
    width: 50%;
    display: flex;
    justify-content: center;
}

#about-me-headshot img {
    border-radius: 50%;
    box-shadow: 0 0 25px black;
    width: 300px;
    height: 300px;
}

#about-me-description {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 100px;
    font-size: 1.8avh;
    line-height: 200%;
}

#education-picture-tall {
    width: 50%;
    display: flex;
    justify-content: center;
}

#education-picture-tall img {
    width: 400px;
}

#education-picture-wide {
    display: none;
}

#education-description {
    width: 50%;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 100px;
}

.ed-title-1 {
    font-size: 2.5em;
}

.ed-title-3 {
    font-size: 0.8em;
    color:rgba(255, 255, 255, 0.4);
    padding-bottom: 25px;
}

#skills-left, #skills-right {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.skills-title {
    font-size: 2em;
    padding-bottom: 25px;
}

#skills-left-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}

#skills-left-grid img {
    width: 100px;
}


#skills-right {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.tab-contents {
    margin-top: 50px;
    display: none;
    height: 700px;
}

.tab-contents.active-tab {
    display: flex;
}

#projects-page {
    width: 100%;
    height: 100vh;
}

#projects-container {
    width: 65%;
    height: 100%; 
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects-title {
    font-size: 5vw;
    text-align: center;
}

#projects-content {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#projects-content-1-2, #projects-content-3-4 {
    width: 100%;
    height: 50%;
    margin: 5px 0;
    display: flex;
}

.projects-item {
    background-size: cover;
    margin: 0 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 5%;
}

#projects-content-1 {
    flex-basis: 66%;
    background-image: url(./images/wroteit-bg.jpg);
}

#projects-content-2 {
    flex-basis: 34%;
    background-image: url(./images/chrome-desktop.png);
    background-position: center;
}

#projects-content-3 {
    flex-basis: 34%;
    background-image: url(./images/weather-app-wallpaper.jpg);
    background-position: center;
}

#projects-content-4 {
    flex-basis: 66%;
    background-image: url(./images/chellcreates.jpg);
    background-position: center;
}

.projects-item p {
    opacity: 0;
    transition: 0.2s;
}

.projects-item:hover, .projects-item:active {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.7) inset;
}

.projects-item:hover p {
    opacity: 1;
}

.projects-title {
    font-size: 3rem;
    line-height: 1;
}

.projects-links {
    color:rgba(255, 255, 255, 0.4);
    font-size: 12px;
}

.projects-links:hover {
    color:rgba(255, 255, 255, 0.8);
}

#contact-page {
    width: 100%;
    height: 80vh;
}

#contact-container {
    width: 70%;
    height: 100%; 
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#contact-content {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
}

#contact-form, #contact-description {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
}

#contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    z-index: 8;
}

.input-field {
    border-radius: 15px;
    background-color: #252f3d;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: white;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding-left: 5%;
    border: none;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 50px #252f3d inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}

.input-field::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.textarea-field {
    height: 250px;
    padding-top: 20px;
    resize: none;
}

#contact-button {
    display: flex;
    justify-content: center;
}

.contact-btn {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    color: #fff;
    margin: 18px 0;
    padding: 10px 50px;
    border: none;
    background-color: #F95656;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #d84a4a;
}

#contact-confirm {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    max-width: 95%;
    width: 400px;
    height: 100px;
    background-color: rgb(222,242,213);
    border-radius: 2px;
    font-size: 18px;
    z-index: 100;
}

#contact-confirm img {
    height: 40px;
}

#contact-deny {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    max-width: 95%;
    width: 400px;
    height: 100px;
    background-color: rgb(255, 165, 165);
    border-radius: 2px;
    font-size: 18px;
    z-index: 100;
}

#contact-deny img {
    height: 40px;
}

#contact-description {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 50px;
    text-align: center;
}

.contact-desc-title {
    margin-top: 50px;
    font-size: 5vw;
    color:#4AF5D7;
}

.contact-desc-description {
    margin-top: 100px;
    font-size: 1.5rem;
    padding: 0 15%;
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color:rgba(255, 255, 255, 0.3);
}
    

/*********************************************************/
                    /* Smaller Screens */
/*********************************************************/

@media only screen and (max-width: 1400px) {
    #about-me-content {
        flex-direction: column;
        margin: 10% 0;
        justify-content: center;
    }

    .header-background-text-1 {
        top: 20%;
    }

    .header-background-text-1, .header-background-text-2 {
        font-size: 40vh;
    }

    #about-me-headshot, #about-me-description {
        width: 100%;
    }

    #about-me-headshot img {
        margin: 50px 0;
        width: 250px;
        height: 250px;
    }

    #about-me-description {
        border-left: none;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding: 50px 0;
    }

    #about-me-description p {
        text-align: center;
    }

    #subtitle-text {
        font-size: 3vw;
    }

    #education-content {
        margin-top: 45px;
        flex-direction: column;
        justify-items: center;
    }

    #education-picture-tall {
        display: none;
    }

    #education-picture-wide {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #education-picture-wide img {
        height: 100%;
    }

    #education-description {
        width: 100%;
        border-left: none;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding: 25px 50px;
    }

    #skills-left-grid img {
        width: 80px;
    }

    #projects-container {
        width: 80%;
    }

    #projects-content-1, #projects-content-2, #projects-content-3, #projects-content-4 {
        flex-basis: 50%;
    }

    #contact-container {
        width: 80%;
    }
}

/* TABLET */
@media only screen and (max-width: 768px) {

    .header-background-text-1, .header-background-text-2, #main-nav, #landing-container, #socials-curve, #socials-items {
        animation: none;
    }

    #socials-items {
        background-color: #252f3d4b;
        border-radius: 10px;
        height: 50px;
        width: 250px;
        bottom: 0;
        left: 0;
        transition: all 0.5s;
        flex-direction: row;
        padding-top: 10px;
        margin: 0 auto;
    }

    #socials-items:hover, #socials-items:active {
        background-color: #252f3dcb;
    }

    #socials-curve {
        display: none;
    }

    .socials-item:hover::before {
        display: none;
    }

    #hamburger-menu {
        display: block;
        padding: 0 5%;
        cursor: pointer;
    }

    #exit-button {
        display: block;
        position: absolute;
        top: 10px;
        right: 25px;
        color: white;
        font-size: 48px;
        cursor: pointer;
        font-family: 'Nunito', sans-serif;
    }

    #hamburger-line {
        width: 50px;
        height: 8px;
        background: white;
        opacity: 0.2;
        margin: 6px 0;
        border-radius: 30px;
    }

    #nav-bar {
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        background: #070C13;
        transition: 0.2s;
        overflow: hidden;
    }

    #nav-bar.active {
        height: 100%;
        z-index: 10;
    }

    #nav-bar ul {
        display: block;
        width: fit-content;
        margin: 50% auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    #nav-bar.active ul {
        opacity: 1;
    }

    #nav-bar ul li a {
        font-size: 3em;
        margin-bottom: 25px;
    }

    #landing-container {
        background: none;
        display: flex;
        justify-content: center;
    }

    .header-background-text-1, .header-background-text-2 {
        display: none;
        font-size: 1vh;
    }


    #landing-introduction {
        border-bottom: 0.1px solid rgba(255, 255, 255, 0.4);
    }

    #landing-introduction p {
        font-size: 8vw;
    }

    #landing-links-nav {
        flex-direction: column;
        border: none;
        margin-top: 20px;
    }

    #subtitle-text {
        font-size: 4vw;
    }

    #links-nav {
        margin-top: 40px;
        width: 100%;
    }

    #links-nav img {
        width: 48px;
    }

    .tab-links {
        font-size: 18px;
    }

    #about-title, #projects-title, .contact-desc-title {
        font-size: 3rem;
    }

    #about-me-container {
        width: 80%;
    }

    #about-me-headshot img {
        width: 200px;
        height: 200px;
    }

    #about-me-description {
        font-size: 1.1rem;
    }

    #education-picture-tall {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
    
    #education-picture-tall img {
        width: 200px;
    }

    #education-picture-wide {
        display: none;
    }

    #education-description {
        padding: 25px 10px;
    }

    #skills-content {
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;
    }

    .skills-title {
        margin: 25px 0;
        padding: 0;
    }

    #skills-left {
        margin: 25px 0;
        width: 100%;
        height: 50%;
    }

    #skills-left-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #skills-left-grid img {
        width: 60px;
    }

    #skills-right {
        border-left: none;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        width: 100%;
        height: 50%;
    }

    #projects-container {
        justify-content: normal;
    }

    #projects-content {
        height: 100%;
    }

    #projects-page {
        height: 1500px;
    }

    #projects-content-1-2, #projects-content-3-4 {
        flex-direction: column;
        margin: 0;
    }

    #projects-content-1, #projects-content-2, #projects-content-3, #projects-content-4 {
        height: 100%;
        margin: 6px 0;
    }

    #contact-content {
        flex-direction: column-reverse;
    }

    #contact-form, #contact-description {
        width: 100%;
        height: 50%;
    }

    #contact-form {
        border-right: none;
        padding: 0;
    }

    #contact-description {
        justify-content: flex-start;
        padding: 0;
    }

    .contact-desc-title, .contact-desc-description {
        margin-top: 0;
    }

    .contact-desc-description {
        padding: 0;
    }

    .input-field {
        margin-top: 15px;
        height: 30px;
    }
    
    .textarea-field {
        height: 200px;
    }
}


/* MOBILE */
@media only screen and (max-width: 600px) {

    #landing-page {
        height: 700px;
    }

    #about-me, #contact-page {
        height: 800px;
    }

    #about-me-container {
        height: 800px;
    }

    #about-me {
        margin: 50px 0;
    }
    
    #landing-introduction p {
        font-size: 10vw;
    }

    #projects-title {
        font-size: 3rem;
    }

    #subtitle-text {
        font-size: 6vw;
    }

    #contact-description {
        justify-content: center;
        padding: 0;
    }
}